@charset "UTF-8";

body{
	background-image: url(img/background.jpg);
	background-size: cover;
}

header,main,footer,.all-wrapper{
	width: 95%;
	margin: auto;
}

.header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.all_wrapper{
	padding: 20px 0px;
	background-color: rgba(255,255,255,0.5);
}

.header_box{
	display: flex;
	align-items: center;
}

.logo{
	width: 120px;
	height: 120px;
}

.catch_copy{
	margin-left: 20px;
	font-size: 50px;
}

.footer_box,.header_nav,h1{
	margin: 40px auto 25px;
}

.footer_box,.header_nav{
	background-color: #28a44a;
}

ul{
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	justify-content: center;
	align-items: center;
	list-style: none;
}

li{
	padding: 20px;
}

li a{
	font-size: 26px;
	text-decoration: none;
}

li a:link,li a:visited{
	color: #000;
}

li a:hover{
	color: #fff;
}

.main_img{
	width: 100%;
}

h1,p{
	text-align: center;
}

p{
	margin: 12px 0px;
}

h1{
	background-color: #ed1c24;
	color: #fff;
	letter-spacing: 8px;
}

.contents_wrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contents_box{
	margin: 20px;
}

.tsuukin_img{
	width: 320px;
	height: 280px;
	max-width: 100%;
}

.contents_wrapper2{
	display: flex;
}

.speed_img{
	width: 40%;
}

.contents_text1,.contents_text2{
	width: 60%;
}

iframe{
	width: 40%;
	height: 400px;
}

.contents_wrapper3{
	margin-top: 45px;
	display: flex;
	flex-direction: row-reverse;
}

.detail_img{
	float: left;
	width: 40%;
	margin-right: 40px;
	margin-bottom: 40px; 
}

.news{
	height: 200px;
	overflow-y: scroll;
}

.company{
	display: flex;
	justify-content: space-around;
}

.company_text{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table{
	margin: auto;
}

.form_button,th{
    text-align: right;
}

.footer_box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_logo{
	width: 60px;
	height: 60px;
	padding-right: 30px;
}

/*sp対応760px以下*/
@media (max-width: 760px){
	.tell{
		display: none;
	}

	.logo{
		width: 70px;
		height: 70px;
	}

	.header_nav{
		display: none;
	}

	.contents_wrapper3{
		display: block;
	}

	iframe{
		width: 100%;
	}

	.speed_img{
		width: 50%;
	}

	.contents_text1{
		width: 50%;
	}

	.contents_text2{
		width: 100%;
	}

	.contents_wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.company{
		flex-direction: column-reverse;
	}

	.company_text{
		align-items: center;
		margin-top: 20px; 
	}

	.contact_wrapper{
		display: none;
	}

	.footer_ul{
		display: flex;
		flex-direction: column;
	}

	li{
		padding: 5px;
	}

	li a{
		font-size: 11px;
	}
}

/*sp対応450px以下*/
@media (max-width: 450px){
	.catch_copy{
	margin-left: 20px;
	font-size: 40px;
	}

	.tell{
		display: none;
	}

	.logo{
		width: 60px;
		height: 60px;
	}

	.header_nav{
		display: none;
	}

	.contents_wrapper3{
		display: block;
	}

	iframe{
		width: 100%;
	}

	.speed_img{
		width: 50%;
	}

	.contents_text1{
		width: 50%;
	}

	.contents_text2{
		width: 100%;
	}

	.contents_wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.company{
		flex-direction: column-reverse;
	}

	.company_text{
		align-items: center;
		margin-top: 20px; 
	}

	.contact_wrapper{
		display: none;
	}

	.footer_ul{
		display: flex;
		flex-direction: column;
	}

	li{
		padding: 5px;
	}

	li a{
		font-size: 11px;
	}
}